@media only screen and (max-width: 990px) {
  .manifest-row {
    display: inline-block;
  }
  .user-pic-drpdn {
    display: none;
  }
  #topNav {
    position: absolute;
    top: 80px;
    background: #2e2447;
    left: 0;
    width: 100%;
    display: none;
  }

  #topNav ul li {
    display: block;
  }

  .mobile-menu {
    width: auto;
    height: 34px;
    /* background-color: red; */
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .support-Holder {
    display: none;
  }
  .support-mobile {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .support-mobile {
    display: none !important;
  }
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
  #topNav {
    position: absolute;
    top: 80px;
    background: #2e2447;
    left: 0;
    width: 100%;
    display: block !important;
  }
  .banner-wraper {
    margin: 80px 0 20px 0;
  }
  .insight-banner-wraper {
    margin: 80px 0 20px 0;
  }
  .support-Holder {
    display: none;
  }
  .support-mobile {
    display: flex;
  }
}
